{% extends 'base.jinja2' %}

{% block content %}
<h1> Agent-Api reports </h1>
<ul>
<li><a href="{{ url_for('agentapi30')}}"> 3.0 </a> </li>
<li>v 3.1 </li>
<li>v 3.2 </li>
<li>v 3.3 </li>
</ul>
{% endblock %}