{% extends 'base.jinja2' %}

{% block content %}
<h1> Agent-Api {{env}} {{version}} reports </h1>

<table>
  <tr>
    <th>Suite</th>
    <th>Passed</th>
    <th>Failed</th>
    <th>xFailed</th>
    <th>Total</th>
    <th>Link</th>
  </tr>
    {% for item in reports %}
    <tr>
        <td>{{ item['suite']}}</td>
        <td>{{ item['passed']}}</td>
        <td>{{ item['failed']}}</td>
        <td>{{ item['xfailed']}}</td>
        <td>{{ item['total']}}</td>
        <td><a href="{{ item['link'] }}"> Report </a></td>
    </tr>
    {% endfor %}

</table>
{% endblock %}