{% extends 'base.jinja2' %}

{% block content %}
<h1> Agent-Api LABS reports </h1>
<ul>
<li><a href="{{ url_for('agentapilabs30')}}"> v3.0 </a> </li>
<li><a href="{{ url_for('agentapilabs31')}}"> v3.1 </a> </li>
<li><a href="{{ url_for('agentapilabs32')}}"> v3.2 </a> </li>
<li><a href="{{ url_for('agentapilabs33')}}"> v3.3 </a> </li>
</ul>
{% endblock %}