<!DOCTYPE html>
<html>
    <head>
        <body>
            <a href="{{ url_for('homepage')}}"> Home Page </a> 
            {% block content %}

            {% endblock %}
        </body>
    </head>
</html>