<!DOCTYPE HTML>
<html lang="pl">
<head>
	<meta charset="utf-8" />
	<title>API Tests reports</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	
	<style>
	body
	{
		background-color: #404040;
		font-family: 'Lato', sans-serif;
	}

	#container
	{
		width: 1200px;
		margin-left: auto;
		margin-right: auto;
	}

	#logo
	{
		color: white;
		margin-top: 20px;
		font-size: 44px;
		letter-spacing: 3px;
		font-weight: 900;
	}

	#menu
	{
		background-color: #303030;
		margin-top: 20px;
		color: #ffffff;
		padding: 10px;
		
	}

	#sidebar
	{
		float: left;
		width: 148px;
		min-height: 620px;
		padding:20px;
		background-color: lightgray;
		text-align: center;
		font-size: 18px;
		border-right: 2px dotted #666666;
	}

	#content
	{
		float: left;
		padding: 40px;
		width: 740px;
		background-color: #FFFFFF;
		min-height: 580px;
		text-align: justify;
	}

	#rightbar
	{
		float: left;
		width: 148px;
		min-height: 620px;
		padding:20px;
		background-color: lightgray;
		text-align: center;
		font-size: 18px;
		border-left: 2px dotted #666666;
	}

	#footer
	{
		clear: both;
		color: white;
		text-align: center;
		padding: 20px;
		font-size: 18px;
	}

	#logo
	{
		text-align: center;
	}

	.option
	{
		float: left;
		min-width: 50px;
		height: 25px;
		font-size: 18px;
		padding: 10px;
		border-right: 2px dotted #444444;
		opacity: 0.8;
	}

	.option:hover
	{
		background-color: #f36742;
		cursor: pointer;
	}

	.optionL
	{
		font-size:18px;
		height:25px;
		padding: 10px;
		border-bottom: 2px dotted #444444;
	}

	.optionL:hover
	{
		background-color: #f36742;
		color: white;
		cursor: pointer;
	}

	.bigtitle
	{
		font-size: 32px;
		font-weight: 900;
		letter-spacing: 2px;
	}

	.dottedline
	{
		height: 5px;
		margin-top: 15px;
		margin-bottom: 20px;
		border-bottom: 2px dotted #444444;
	}

	a:link{
		color:black;
		text-decoration: none;
	}
	a:visited{
		color:black;
		text-decoration: none;
	}
	a:hover{
		color:red;
		text-decoration: none;
	}
	table {
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 100%;
		}

	td, th {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;
	}

	tr:nth-child(even) {
		background-color: #dddddd;
	}
	
	</style>

</head>
<body>
	
	<div id="container">
	
		<div id="logo">
			API Testing Dashboard
		</div>
		
		<div id="menu">
			<div class="option"><a href="{{ url_for('homepage')}}"> Home Page </a></div>
			<div class="option"><a href="https://livechatinc.atlassian.net/wiki/spaces/PAT/pages/501284915/Test+Environment" target="_blank">Test Environment</a></div>
			<div class="option"><a href="https://developers.labs.livechat.com/docs/" target="_blank">Platform Api Docs</a></div>
			<div class="option"><a href="https://github.com/livechat/livechat-docs/tree/master/livechat2/rest-api/docs" target="_blank">Rest Api Docs</a></div>
			<div class="option"><a href="https://github.com/livechat/testing" target="_blank">Testing repository</a></div>
			<div style="clear:both;"></div>
		</div>

		
		<div id="sidebar">
			<div class="optionL"><a href="{{ url_for('agentapi')}}"> Agent-Api </a></div>
			<div class="optionL"><a href="{{ url_for('customerapi')}}"> Customer-Api </a></div>
			<div class="optionL">Conf-Api</div>
			<div class="optionL"><a href="{{ url_for('restapi')}}"> Rest-API </a></div>
			<div class="optionL"><a href="{{ url_for('integration')}}"> Integration </a></div>
			<div class="optionL">SSO</div>
			<div class="optionL">Visitor-Proxy</div>
			<div class="optionL">Emailinium</div>
			<div class="optionL">File-Api</div>
		</div>
		
		<div id="content">
			<a href="javascript:history.back()">Go Back</a>
            {% block content %}

            {% endblock %}
		</div>	

		<div id="rightbar">
			<div class="optionL"><a href="{{ url_for('agentapi')}}"> Agent-Api </a></div>
			<div class="optionL"><a href="{{ url_for('customerapi')}}"> Customer-Api </a></div>
			<div class="optionL"><a href="{{ url_for('restapi')}}"> Rest-API </a></div>
			<div class="optionL"><a href="{{ url_for('integration')}}"> Integration </a></div>
		</div>
		
		<div id="footer">
			API tests results
		</div>
	
	</div>
	
</body>
</html>