{% extends 'base.jinja2' %}

{% block content %}
<h1> Suites </h1>
<ul>
<li><a href="{{ url_for('agentapi')}}"> Agent-Api </a> </li>
<li><a href="{{ url_for('customerapi')}}"> Customer-Api </a> </li>
<li><a href="{{ url_for('restapi')}}"> Rest-API </a> </li>
<li><a href="{{ url_for('integration')}}"> Integration </a> </li>
</ul>
{% endblock %}